<div class="container">
	<div class="center jumbotron">
	<% if user_signed_in? %>
		<%= controller.redirect_to "/pages/accounts" %>

	<% else %>
		<h1>Welcome to the App</h1>
	  <%= link_to "Sign up!", new_user_registration_path, class: "btn btn-lg btn-primary" %>

	<% end %>
	</div>
</div>